body {
    width: 312px;
    height: 520px;
    margin: 0;
}
.container {
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-picture {
    width: 60px;
    margin-top: 52px;
}
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-top: 1px;
}
.description{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-right: 51px;
    margin-top: -8px;
}
.form-inline {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
#spoderblind {
    width: 60px;
    margin-left: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
}
#spoderblind:hover {
    opacity: 0.7;
}
.spoderblind-text {
    margin-left: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}
#spoderdeaf {
    width: 60px;
    margin-left: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
}
#spoderdeaf:hover {
    opacity: 0.7;
}

.spoderdeaf-text {
    margin-left: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}
#spodertard {
    width: 60px;
    margin-left: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
}
#spodertard:hover {
    opacity: 0.7;
}
.spodertard-text {
    margin-left: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

#red-button{
     height: 30px;
     width: 30px;
}
#blue-button{
    height: 30px;
    width: 30px;
}
#green-button{
    height: 30px;
    width: 30px;
    margin-right: 3px;
}
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}
.blind-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
    font-size: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn:hover {
    text-decoration: none;
}

